
<div id="container">
  <h2> <%= @task.title %> </h2>
  <p>  <%= @task.details %> </p>
  <p id="boolean"> Completed: <strong> <%= @task.completed %> </strong> </p>

  <p> <%= link_to "Back", tasks_path %> </p>
  <p> <%= link_to "Delete #{@task.title}", destroy_path(@task), method: :delete %> </p>
</div>


